@use 'tokens';

.backdrop {
  position: fixed;
  inset: 0;
  display: none;
  z-index: 1000;

  @media screen and (width < 1440px) {
    &--active {
      background: #1b1b1ba8;
      display: block;
    }
  }
}

.nav {
  position: fixed;
  z-index: 2000;
  inset-block: tokens.$spacing-lg;
  left: 0;
  transform: translateX(-100%);
  padding: tokens.$spacing-md;
  border-radius: tokens.$radius-lg;
  background: tokens.$color-tertiary;
  display: flex;
  flex-direction: column;
  gap: tokens.$spacing-2xl;
  transition: left 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);

  &--active {
    transform: translateX(0);
    left: tokens.$spacing-lg;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: tokens.$spacing-sm;
  }

  &__link {
    padding: tokens.$spacing-sm;
    display: flex;
    align-items: center;
    gap: tokens.$spacing-sm;
    border-radius: tokens.$radius-sm;
    color: tokens.$color-tertiary-text;

    &:hover, &--active {
      background: tokens.$color-amazon-600;
      color: tokens.$color-white-50;
      font-weight: tokens.$font-weight-bold;
    }
  }
}

.logo {
  padding: tokens.$spacing-sm;
  display: inline-flex;
  align-items: center;
  gap: tokens.$spacing-sm;
  font-weight: tokens.$font-weight-bold;

  &__icon {
    color: tokens.$color-amazon-500;
  }
}

