$color-amazon-50: #f1f8f3;
$color-amazon-100: #deede1;
$color-amazon-200: #bfdbc7;
$color-amazon-300: #94c1a4;
$color-amazon-400: #66a17c;
$color-amazon-500: #427e5b;
$color-amazon-600: #33684b;
$color-amazon-700: #28543c;
$color-amazon-800: #224332;
$color-amazon-900: #1d3729;
$color-amazon-950: #0f1f17;


$color-white-50: #ffffff;
$color-white-100: #f7f7f7;
$color-white-200: #efefef;
$color-white-300: #dcdcdc;
$color-white-400: #bdbdbd;
$color-white-500: #989898;
$color-white-600: #7c7c7c;
$color-white-700: #656565;
$color-white-800: #525252;
$color-white-900: #464646;
$color-white-950: #1C1C1C;


$color-primary: $color-amazon-600;
$color-primary-text: $color-white-50;

$color-secondary: $color-white-50;
$color-secondary-text: $color-amazon-600;

$color-tertiary: $color-white-100;
$color-tertiary-text: $color-white-700;
